#fountainG{position:relative;width:166px;height:20px}.fountainG{position:absolute;top:0;background-color:#858585;width:21px;height:21px;-moz-animation-name:bounce_fountainG;-moz-animation-duration:1.3s;-moz-animation-iteration-count:infinite;-moz-animation-direction:linear;-moz-transform:scale(.3);-moz-border-radius:14px;-webkit-animation-name:bounce_fountainG;-webkit-animation-duration:1.3s;-webkit-animation-iteration-count:infinite;-webkit-animation-direction:linear;-webkit-transform:scale(.3);-webkit-border-radius:14px;-ms-animation-name:bounce_fountainG;-ms-animation-duration:1.3s;-ms-animation-iteration-count:infinite;-ms-animation-direction:linear;-ms-transform:scale(.3);-ms-border-radius:14px;-o-animation-name:bounce_fountainG;-o-animation-duration:1.3s;-o-animation-iteration-count:infinite;-o-animation-direction:linear;-o-transform:scale(.3);-o-border-radius:14px;animation-name:bounce_fountainG;animation-duration:1.3s;animation-iteration-count:infinite;animation-direction:linear;transform:scale(.3);border-radius:14px}
#fountainG_1{left:0;-moz-animation-delay:.52s;-webkit-animation-delay:.52s;-ms-animation-delay:.52s;-o-animation-delay:.52s;animation-delay:.52s}#fountainG_2{left:21px;-moz-animation-delay:.65s;-webkit-animation-delay:.65s;-ms-animation-delay:.65s;-o-animation-delay:.65s;animation-delay:.65s}
#fountainG_3{left:42px;-moz-animation-delay:.78s;-webkit-animation-delay:.78s;-ms-animation-delay:.78s;-o-animation-delay:.78s;animation-delay:.78s}#fountainG_4{left:62px;-moz-animation-delay:.91s;-webkit-animation-delay:.91s;-ms-animation-delay:.91s;-o-animation-delay:.91s;animation-delay:.91s}
#fountainG_5{left:83px;-moz-animation-delay:1.04s;-webkit-animation-delay:1.04s;-ms-animation-delay:1.04s;-o-animation-delay:1.04s;animation-delay:1.04s}#fountainG_6{left:104px;-moz-animation-delay:1.17s;-webkit-animation-delay:1.17s;-ms-animation-delay:1.17s;-o-animation-delay:1.17s;animation-delay:1.17s}
#fountainG_7{left:125px;-moz-animation-delay:1.3s;-webkit-animation-delay:1.3s;-ms-animation-delay:1.3s;-o-animation-delay:1.3s;animation-delay:1.3s}#fountainG_8{left:145px;-moz-animation-delay:1.43s;-webkit-animation-delay:1.43s;-ms-animation-delay:1.43s;-o-animation-delay:1.43s;animation-delay:1.43s}
@-moz-keyframes bounce_fountainG{0%{-moz-transform:scale(1);background-color:#858585}100%{-moz-transform:scale(.3);background-color:#fff}}@-webkit-keyframes bounce_fountainG{0%{-webkit-transform:scale(1);background-color:#858585}100%{-webkit-transform:scale(.3);background-color:#fff}
}@-ms-keyframes bounce_fountainG{0%{-ms-transform:scale(1);background-color:#858585}100%{-ms-transform:scale(.3);background-color:#fff}}@-o-keyframes bounce_fountainG{0%{-o-transform:scale(1);background-color:#858585}100%{-o-transform:scale(.3);background-color:#fff}
}@keyframes bounce_fountainG{0%{transform:scale(1);background-color:#858585}100%{transform:scale(.3);background-color:#fff}}
.informations ul li ul {
  margin-left: 25px;
  line-height: 0.8em;
  list-style: initial;
}
.informations > ul {
  margin-left: 25px;
  list-style: decimal;
}